@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body,
#__nuxt {
    min-height: calc(100vh + 140px);
    width: 100%;

    margin: 0;
    padding: 0;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: white;

    @include desktop-only {
        font-size: 18px;
    }
}

html {
    background-color: black;

    overflow-y: scroll;
    scroll-behavior:smooth;

    // SCROLLBAR

    ::-webkit-scrollbar {
        width: 6px;
        
        background-color: lighten($dark1, 10);

        border-radius: 100px;
        -webkit-border-radius: 100px;
    }

    ::-webkit-scrollbar:hover {
        background-color: lighten($dark1, 14);
    }

    ::-webkit-scrollbar-thumb:vertical {
        background: rgba(255, 255, 255, 0.2);
        
        border-radius: 100px;
        -webkit-border-radius: 100px;
    }

    ::-webkit-scrollbar-thumb:vertical:active {
        background: darken(rgba(255, 255, 255, 0.6), 10);
        
        border-radius: 100px;
        -webkit-border-radius: 100px;
    }
}

* {
    box-sizing: border-box;
}