$red: #FF3030;
$green: #00FF75;
$blue: #00C2FF;
$gold: #FFD600;

$dark-blue: #0084FF;

$dark1: #141B2D;

$gray1: #A3A3A3;
$gray2: #8C8C8C;
$gray3: #BFBFBF; // Used in footer
$gray4: #5d5d5d; // Used in footer
$gray5: #5B5B5B; // Used in forms
$gray6: #192236; // Panel background

$panel: #1A2642;

$gap: 1rem; // Used in panels

$gradient-opacity: 0.07;
$gradient-main: linear-gradient(to right,
        rgba($green, $gradient-opacity),
        rgba($blue, $gradient-opacity) 20%,
        rgba($blue, $gradient-opacity) 80%,
        rgba($red, $gradient-opacity));

// ==========
// RESPONSIVENESS
// ==========

$desktop-width: 1600px;
$xs-height: 800px;
$s-height: 870px;

@mixin desktop {
    @media (min-width: $desktop-width) {
        @content;
    }
}

@mixin short {
    @media (max-height: $s-height) {
        @content;
    }
}

@mixin extra-short {
    @media (max-height: $xs-height) {
        @content;
    }
}